{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}My Account{% endblock title %}

{% block main %}
<div class="card border-primary m-auto mb-3" style="max-width: 30rem">
  <div class="card-header text-center">My Account</div>
  <div class="card-body">
    <form method="post" class="m-auto">
      {% csrf_token %}
      <div class="form-group">
        {{ form.email|as_crispy_field }}
      </div>
      <div class="form-group">
        {{ form.username|as_crispy_field }}
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.last_name|as_crispy_field }}
        </div>
      </div>
      <div class="form-group">
        {{ form.dob|as_crispy_field }}
      </div>
      <button class="form-control btn btn-primary">UPDATE</button>
    </form>
  </div>
  <div class="card-footer text-center">
    <p><a href="{% url 'account_change_password' %}">Change Password</a></p>
  </div>
</div>
{% endblock %}