{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Activities{% endblock %}
{% block main %}
  <div class="card border-primary m-auto mb-3 text-center">
    <form method="post">
      {% csrf_token %}
      {% if not request.user.is_busy %}
        <div class="form-group">
          {{ form|crispy }}
        </div>
        <button class="btn btn-success form-control">Start</button>
      {% else %}
        <button class="btn btn-danger form-control">Stop</button><!--TODO Show activity-->
      {% endif %}
    </form>
    <a href="{% url 'event-update' event.slug %}">
  </div>
{% endblock %}